{% extends "admin-header.html" %}
{% load static %}
    {% block content %}
    <section class="users">
        <h1 class="title">User account</h1>
        <div class="box-container">
            {% for user in many_users %}
            <div class="box">
                <p>Username : <span>{{user.name}}</span></p>
                <p>Email : <span>{{user.email}}</span></p>
                <p>
                    User type : <span style="color:{% if user.user_type == 'admin'  %}var(--orange){% endif %}">{{user.user_type}}</span>
                </p>
                <a href="{% url 'deleteUser' uId=user.id %}" onclick="return confirm('delete this user?');" class="delete-btn">delete</a>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endblock content %}