{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>
<body>
    {% if message %}
    <div class="message">
        <span>{{message}}</span>
        <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
    </div>
    {% endif %}
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <h3>Login now</h3>
            <input class="box" type="text" name="name" placeholder="Enter your name">
            <input class="box" type="email" name="email" placeholder="Enter your email">
            <input type="password" name="password"  required placeholder="Enter your password" class="box">
            <input type="submit" value="Login now" class="btn">
            <p>Don't have an account? <a href="{% url 'register' %}">Register now</a></p>
        </form>
    </div>
</body>
</html>